/* panels */
#error,
#edit-panel,
#file-control {
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0,0,0,.95);
   padding: 5px 10px;
   width: 180px;
   z-index: 99999;
}
#file-control {
   display: none;
   width: auto;
   border-left: 2px solid rgba(255,255,255,.2);
   z-index: 99999;
}
#file-url {
   display: none;
   position: fixed;
   top: 0px;
   left: 180px;
   background: rgba(0,0,0,.95);
   padding: 0 10px;
   line-height: 45px;
   color: #fff;
   border-left: 2px solid rgba(255,255,255,.2);
   z-index: 99999;
}
#edit-panel a,
#file-control a,
.zclip {
   display: inline-block;
   padding: 5px 10px;
   color: #fff;
   font-size: 18px;
   opacity: .8;
   transition: all .4s;
}
#edit-panel a:hover,
#file-control a:hover,
.zclip:hover {
   opacity: 1;
   background: rgba(255,255,255,.2);
}
#hide-me {
   position: fixed;
   top: 0;
   left: 180px;
   display: block;
   text-align: center;
}
#hide-me i {
   display: inline-block;
   color: #000;
   font-size: 22px;
   opacity: .5;
   transition: all .4s;
   padding: 10px 10px;
}
#hide-me:hover i {
   opacity: .8;
}
/* code mirror */
#show-code .modal-lg {
   width: 95%;
   margin-top: 50px;
}
.CodeMirror { 
   height: auto; 
   border: 1px solid #ddd; 
}
.CodeMirror-scroll { 
   max-height: 550px !important;
   min-height: 100px; 
}
.CodeMirror pre { 
   padding-left: 7px; 
   line-height: 1.25; 
}
/* modal */
#show-code .modal-body {
   padding: 0;
}
#show-code .modal-footer {
   text-align: left;
}
#show-code .modal-footer a {
   display: inline-block;
   padding: 3px 10px;
   background: #5A5A5A;
   border: none;
   color: #fff;
   border-radius: 2px;
   margin: 10px 0;
   margin-right: 5px;
   text-decoration: none;
   font-size: 13px;
}
#show-code .modal-footer a:hover {
   background: #111;
}