/* bootstrap fix */
a:focus {
   outline: none;
   border: none;
}
a {
   color: #2f99cf;
}
a:hover,
a:focus {
   color: #2277a3;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
   color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
   color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
   color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
   color: transparent;
}
body.modal-open {
   overflow: inherit;
   padding-right: 0 !important;
}
/* global */
@font-face {
  font-family: "Dinpro-reg";
  src: url("../fonts/dinpro/DINPro-Regular.otf") format("opentype"), 
       url("../fonts/dinpro/DINPro-Regular.woff") format("woff"), 
       url("../fonts/dinpro/DINPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Dinpro-lignt";
  src: url("../fonts/dinpro/DINPro-Light.otf") format("opentype"), 
       url("../fonts/dinpro/DINPro-Light.woff") format("woff"), 
       url("../fonts/dinpro/DINPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Dinpro-Medium";
  src: url("../fonts/dinpro/DINPro-Medium.otf") format("opentype"), 
       url("../fonts/dinpro/DINPro-Medium.woff") format("woff"), 
       url("../fonts/dinpro/DINPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Dinpro-Bold";
  src: url("../fonts/dinpro/DINPro-Bold.otf") format("opentype"), 
       url("../fonts/dinpro/DINPro-Bold.woff") format("woff"), 
       url("../fonts/dinpro/DINPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
   font-family: "Dinpro-reg";
   font-size: 16px;
   color: #515050;
}
.container {
   max-width: 980px;
   margin: 0 auto;
}
.wrap {
   box-shadow: 2px 0px 2px rgba(0,0,0,.15), -2px 0px 2px rgba(0,0,0,.15);
}
.clear {
   clear: both;
}
/* header */
.header {
   background: url(../img/logo.jpg) no-repeat;
   background-position: left center;
   min-height: 100px;
   padding: 0;
   padding-left: 280px;
   .header-text {
      font-size: 15px;
      text-align: center;
      padding: 10px 5px;
      margin: 20px 0 10px;
      color: #616161;

      background: -moz-linear-gradient(0deg, #fbfbfb 0%, #edeeee 93%, #edeeee 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fbfbfb), color-stop(93%, #edeeee), color-stop(100%, #edeeee)); /* safari4+,chrome */
      background: -webkit-linear-gradient(0deg, #fbfbfb 0%, #edeeee 93%, #edeeee 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(0deg, #fbfbfb 0%, #edeeee 93%, #edeeee 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(0deg, #fbfbfb 0%, #edeeee 93%, #edeeee 100%); /* ie10+ */
      background: linear-gradient(90deg, #fbfbfb 0%, #edeeee 93%, #edeeee 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#edeeee',GradientType=1 ); /* ie6-9 */
   }
   #top-nav {
      padding: 0;
   }
   .top-nav {
      background: transparent;
      border: none;
      border-radius: 0;
      margin-bottom: 0;
      min-height: 0;
      .navbar-nav {
         float: right;
         li {
            a {
               font-size: 18px;
               color: #666da9;
               text-transform: uppercase;
               padding: 15px 14px;
               position: relative;
            }
            a:hover {
               color: #76c5ba;
            }
         }
         li.active {
            a {
               color: #76c5ba;
               background: transparent;
            }
            a:after {
               content: '';
               display: block;
               width: 100%;
               height: 5px;
               background: #76c5ba;
               position: absolute;
               bottom: -5px;
               left: 0;
            }
         }
         li.open {
            a {
               color: #76c5ba;
               background: transparent;
            }
            a:after {
               content: '';
               display: block;
               width: 100%;
               height: 5px;
               background: #76c5ba;
               position: absolute;
               bottom: -5px;
               left: 0;
            }
            .dropdown-menu {
               margin-top: 5px;
               background: #e5e5e5;
               border-radius: 0;
               padding: 0;
               a {
                  background: #e5e5e5;
                  padding: 4px 10px;
                  font-size: 14px;
                  color: #565656;
                  border-bottom: 1px solid #fff;
                  text-transform: none;
               }
               a:after {
                  display: none;
               }
               a:hover {
                  background: #fff;
               }
               li:last-child a {
                  border-bottom: 0;
               }
            }
         }
         .dropdown-2 {
            position: relative;
            .drop-2 {
               position: absolute;
               left: 100%;
               top: 0;
               display: block;
               padding: 0;
               margin: 0;
               background: #e5e5e5;
               list-style: none;
               width: 100%;
               border: 1px solid rgba(0, 0, 0, .15);
               box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
               min-width: 240px;
               display: none;
               li {
                  a {
                     padding: 4px 10px;
                     text-decoration: none;
                     display: block;
                  }
               }
            }
         }
         .dropdown-2:hover {
            background: #fff !important;
            a {
               background: #fff !important;
            }
            .drop-2 {
               display: block;
               li {
                  a {
                     background: transparent !important;
                  }
                  a:hover {
                     background: #fff !important;
                  }
               }
            }
         }
      }
   }
}
.header-line {
   height: 5px;
   background: -moz-linear-gradient(45deg, #ffffff 0%, #d7d8d8 50%, #ffffff 100%); /* ff3.6+ */
   background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ffffff), color-stop(50%, #d7d8d8), color-stop(100%, #ffffff)); /* safari4+,chrome */
   background: -webkit-linear-gradient(45deg, #ffffff 0%, #d7d8d8 50%, #ffffff 100%); /* safari5.1+,chrome10+ */
   background: -o-linear-gradient(45deg, #ffffff 0%, #d7d8d8 50%, #ffffff 100%); /* opera 11.10+ */
   background: -ms-linear-gradient(45deg, #ffffff 0%, #d7d8d8 50%, #ffffff 100%); /* ie10+ */
   background: linear-gradient(45deg, #ffffff 0%, #d7d8d8 50%, #ffffff 100%); /* w3c */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}
@media screen and (max-width: 1199px) {
   .header {
      .top-nav {
         .navbar-nav {
            li {
               a {
                  padding: 15px 10px;
               }
            }
         }
      }
   }
}
@media screen and (max-width: 992px) {
   .header {
      .top-nav {
         .navbar-nav {
            li {
               a {
                  padding: 10px 5px;
                  font-size: 13px;
               }
            }
            .dropdown-2 {
               .drop-2 {
                  left: -200px;
                  width: 200px;
                  min-width: 0;
               }
            }
         }
      }
   }
}
@media screen and (max-width: 767px) {
   .header {
      background: url(../img/logo.jpg) no-repeat;
      background-position: top center;
      min-height: 0px;
      padding: 0;
      padding-left: 0px;
      .header-text {
         margin: 110px 0 5px;
      }
      .top-nav {
         .navbar-nav {
            float: left;
            padding: 0 15px;
            .dropdown-2 {
               .drop-2 {
                  left: 0px;
                  bottom: 0px;
                  width: auto;
                  min-width: 0;
                  position: static;
               }
            }
         }
      }
   }
}
/* banner */
.banner {
   padding: 0;
   background: url(../img/banner.jpg) no-repeat;
   background-size: cover;
   background-position: center center;
   box-shadow: inset 0px 2px 2px rgba(0,0,0,.25), inset 0px -2px 2px rgba(0,0,0,.25);
   overflow: hidden;
   .banner-holder {
      padding: 0;
      padding-left: 150px;
      margin-top: 2px;
      margin-bottom: 2px;
   }
   .banner-box {
      position: relative;
      background: rgba(255,255,255,.5);
      width: 100%;
      box-shadow: -50px 0px 100px rgba(0,0,0,.15);
      .search {
         position: absolute;
         right: 0;
         top: -2px;
         padding: 4px;
         background: #4aadb9;
         font-size: 12px;
         input {
            border: none;
            outline: none;
            padding: 2px 5px;
            font-size: 10px;
            color: #7d7d7d;
         }
         input[type="search"] {
            width: 200px;
            box-shadow: inset 1px -2px 2px rgba(0,0,0,.15);
         }
         input[type="submit"] {
            background: -moz-linear-gradient(90deg, #ffffff 0%, #eeecec 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeecec), color-stop(100%, #ffffff)); /* safari4+,chrome */
            background: -webkit-linear-gradient(90deg, #ffffff 0%, #eeecec 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(90deg, #ffffff 0%, #eeecec 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(90deg, #ffffff 0%, #eeecec 100%); /* ie10+ */
            background: linear-gradient(0deg, #ffffff 0%, #eeecec 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeecec', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
            text-transform: uppercase;
            padding: 2px 10px;
         }
         input[type="submit"]:hover {
            background: #eeecec;
         }
      }
      .search::before{
         content: '';
         position: absolute;
         top: 0;
         left: -10px;
         display: block;

         border-top: 26px solid #4aadb9;
         border-left: 10px solid transparent;
         height: 26px;
      }
      .text-1,
      .text-2,
      .preparat {
         max-width: 100%;
      }
      .text-1 {
         margin-top: 40px;
      }
      .text-2 {
         float: right;
         margin: 20px 0;
      }
      .button-holder {
         clear: both;
         margin: 20px 0;
         text-align: right;
         .order {
            display: inline-block;
            color: #fff;
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
            box-shadow: 1px -1px 2px rgba(0,0,0,.15);

            background: -moz-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61ece6), color-stop(100%, #11998f)); /* safari4+,chrome */
            background: -webkit-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* ie10+ */
            background: linear-gradient(0deg, #11998f 0%, #61ece6 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ece6', endColorstr='#11998f',GradientType=0 ); /* ie6-9 */
         }
         .order:hover {
            background: #0db9af;
            box-shadow: none;
         }
      }
   }
}
@media screen and (max-width: 767px) { 
   .banner {
      .banner-holder {
         padding: 0;
      }
   }
}
.small-banner {
   min-height: 54px;
   background: url(../img/banner-small.jpg) no-repeat;
   background-size: cover;
   background-position: center center;
}
/* bot-nav */
.bot-nav {
   border: none;
   border-radius: 0;
   margin-bottom: 0;
   background: -moz-linear-gradient(180deg, #d8d9d9 0%, #f0f0f0 51%, #d8d9d9 99%, #d8d9d9 100%); /* ff3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d8d9d9), color-stop(1%, #d8d9d9), color-stop(49%, #f0f0f0), color-stop(100%, #d8d9d9)); /* safari4+,chrome */
   background: -webkit-linear-gradient(180deg, #d8d9d9 0%, #f0f0f0 51%, #d8d9d9 99%, #d8d9d9 100%); /* safari5.1+,chrome10+ */
   background: -o-linear-gradient(180deg, #d8d9d9 0%, #f0f0f0 51%, #d8d9d9 99%, #d8d9d9 100%); /* opera 11.10+ */
   background: -ms-linear-gradient(180deg, #d8d9d9 0%, #f0f0f0 51%, #d8d9d9 99%, #d8d9d9 100%); /* ie10+ */
   background: linear-gradient(270deg, #d8d9d9 0%, #f0f0f0 51%, #d8d9d9 99%, #d8d9d9 100%); /* w3c */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d9d9', endColorstr='#d8d9d9',GradientType=1 ); /* ie6-9 */
   .navbar-nav {
      li {
         text-align: center;
         a {
            font-size: 16px;
            color: #2e246d;
         }
         a:hover {
            background: transparent;
            color: #2e246d;
         }
         .dropdown-menu {
            background: #e5e5e5;
            border-radius: 0;
            padding: 0;
            a {
               background: #e5e5e5;
               padding: 4px 10px;
               font-size: 14px;
               color: #565656;
               border-bottom: 1px solid #fff;
               text-transform: none;
               text-align: left;
            }
            a:after {
               display: none;
            }
            a:hover {
               background: #fff;
            }
            li:last-child a {
               border-bottom: 0;
            }
            li:after {
               display: none;
            }
         }
      }
      li.active {
         a,
         a:hover {
            background: transparent;
            color: #2e246d;
         }
      }
      li.double {
         a {
            padding: 5px 15px;
         }
      }
      li::after{
         content: '';
         height: 20px;
         width: 2px;
         background: #fff;
         position: absolute;
         right: 0;
         top: 15px;
      }
      li:last-child::after {
         display: none;
      }
   }
}
@media screen and (max-width: 1199px) { 
   .bot-nav {
      .navbar-nav {
         li {
            a {
               font-size: 15px;
            }
         }
      }
   }
}
@media screen and (max-width: 992px) { 
   .bot-nav {
      .navbar-nav {
         li {
            a {
               font-size: 12px;
               padding: 15px 5px;
            }
         }
         li:after {
            display: none;
         }
      }
   }
}
@media screen and (max-width: 767px) { 
   .bot-nav {
      .navbar-nav {
         li {
            a {
               text-align: left;
               padding: 10px 15px;
            }
         }
      }
   }
}
/* content */
.content {
   padding: 20px 30px;
   p {
      font-size: 17px;
      color: #676969;
      text-align: justify;
   }
   .blue {
      color: #2086ca;
   } 
   .h2-holder {
      background: url(../img/line.png) no-repeat;
      background-position: center center;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
   }
   .h2-holder.lefter {
      text-align: left;
      h2 {
         padding-left: 0;
      }
   }
   h2 {
      font-size: 17px;
      text-transform: uppercase;
      display: inline-block;
      background: #fff;
      padding: 5px 10px;
      margin: 0;
   }
   .line {
      height: 5px;
      margin: 30px 0;
      background: url(../img/line.png) no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .order-button {
      display: inline-block;
      color: #fff;
      padding: 5px 10px;
      border-radius: 4px;
      text-decoration: none;
      box-shadow: 1px -1px 2px rgba(0,0,0,.15);

      background: -moz-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61ece6), color-stop(100%, #11998f)); /* safari4+,chrome */
      background: -webkit-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* ie10+ */
      background: linear-gradient(0deg, #11998f 0%, #61ece6 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ece6', endColorstr='#11998f',GradientType=0 ); /* ie6-9 */
   }
   .order-button:hover {
      background: #0db9af;
      box-shadow: none;
   }
   .about {
      .item {
         text-align: center;
         p {
            font-size: 16px;
            color: #515050;
            margin: 0;
         }
         img {
            max-width: 100%;
            margin: 0 auto;
            min-height: 80px;
         }
      }
   }
   .products {
      margin: 20px 0;
      img {
         width: 190px;
         height: 112px;
         max-width: 100%;
         display: block;
         margin: 10px auto;
      }
      p {
         text-align: justify;
         color: #595a5b;
         font-size: 14px;
      }
      .line {
         height: 3px;
         width: 100%;
         display: block;
         margin: 8px 0 5px;
      }
      .item {
         margin-bottom: 20px;
      }
      p.title {
         text-align: center;
         font-size: 17px;
      }
      a.read-more {
         font-size: 14px;
      }
      .prod-1 {
         p.title,
         a.read-more {
            color: #6cb2a8;
         }
      }
      .prod-2 {
         p.title,
         a.read-more {
            color: #f4a270;
         }
      }
      .prod-3 {
         p.title,
         a.read-more {
            color: #ba78a0;
         }
      }
      .prod-4 {
         p.title,
         a.read-more {
            color: #6c92b2;
         }
      }
      .prod-5 {
         p.title,
         a.read-more {
            color: #83b26c;
         }
      }
      .prod-6 {
         p.title,
         a.read-more {
            color: #f470da;
         }
      }
      .prod-7 {
         p.title,
         a.read-more {
            color: #a499cb;
         }
      }
      .prod-8 {
         p.title,
         a.read-more {
            color: #8cc39b;
         }
      }
      .prod-9 {
         p.title,
         a.read-more {
            color: #b16a96;
         }
      }
      .prod-10 {
         p.title,
         a.read-more {
            color: #70f4e6;
         }
      }
      .prod-11 {
         p.title,
         a.read-more {
            color: #84be81;
         }
      }
      .prod-12 {
         p.title,
         a.read-more {
            color: #b47072;
         }
      }
      .prod-13 {
         p.title,
         a.read-more {
            color: #697db1;
         }
      }
      .prod-14 {
         p.title,
         a.read-more {
            color: #d3f470;
         }
      }
      .prod-15 {
         p.title,
         a.read-more {
            color: #ba8c7a;
         }
      }
      .prod-16 {
         p.title,
         a.read-more {
            color: #826cb2;
         }
      }
   }
   .table {
      img {
         width: 100%;
      }
   }
   .igolki {
      margin-bottom: 20px;
      img.table-img {
         width: 100%;
      }
      .header-info {
         margin-bottom: 20px;
         img {
            max-width: 100%;
            float: left; 
            margin-right: 15px; 
            margin-bottom: 15px;
         }
      }
      .buttons {
         text-align: right;
         margin-bottom: 20px;
         margin-top: 10px;
      }
   }
   .product {
      margin-bottom: 20px;
      img.table-img {
         width: 100%;
      }
      .header-info {
         margin-bottom: 20px;
         img {
            max-width: 100%;
            float: left; 
            margin-right: 15px; 
            margin-bottom: 15px;
         }
      }
      .buttons {
         margin-bottom: 20px;
         .left {
            margin: 10px 0;
            margin-right: 20px;

            background: -moz-linear-gradient(90deg, #0c919d 0%, #61ddec 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61ddec), color-stop(100%, #0c919d)); /* safari4+,chrome */
            background: -webkit-linear-gradient(90deg, #0c919d 0%, #61ddec 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(90deg, #0c919d 0%, #61ddec 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(90deg, #0c919d 0%, #61ddec 100%); /* ie10+ */
            background: linear-gradient(0deg, #0c919d 0%, #61ddec 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ddec', endColorstr='#0c919d',GradientType=0 ); /* ie6-9 */
         }
         .left:hover {
            background: #0c919d;
         }
         .right {
            margin: 10px 0;
         }
      }
      .title {
         font-size: 21px;
      }
   }
   .contact {
      .feedback {
         margin: 40px 0 0;
         label {
            font-weight: normal;
            color: #898989;
            line-height: 34px;
         }
         .form-control {
            border-radius: 0;
            background: -moz-linear-gradient(90deg, #dedede 0%, #f5f5f5 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #dedede)); /* safari4+,chrome */
            background: -webkit-linear-gradient(90deg, #dedede 0%, #f5f5f5 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(90deg, #dedede 0%, #f5f5f5 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(90deg, #dedede 0%, #f5f5f5 100%); /* ie10+ */
            background: linear-gradient(0deg, #dedede 0%, #f5f5f5 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dedede',GradientType=0 ); /* ie6-9 */

            box-shadow: none;
         }
      }
      .row {
         margin: 20px -15px;
      }
   }
}
@media screen and (max-width: 767px) { 
   .content {
      padding: 20px 15px;
      .table {
         display: none;
      }
   }
}
@media screen and (max-width: 992px) { 
   .content {
      .contact {
         .row {
            margin: 5px 0;
         }
      }
   }
} 
/* footer */
.footer-1 {
   padding: 0;
   background: #e4e4e4;
   position: relative;
   .connect {
      display: inline-block;
      width: 180px;
      color: #fff;
      padding: 15px 30px;
      border-radius: 4px;
      text-decoration: none;
      box-shadow: 2px -2px 3px rgba(0,0,0,.15);

      background: -moz-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61ece6), color-stop(100%, #11998f)); /* safari4+,chrome */
      background: -webkit-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(90deg, #11998f 0%, #61ece6 100%); /* ie10+ */
      background: linear-gradient(0deg, #11998f 0%, #61ece6 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ece6', endColorstr='#11998f',GradientType=0 ); /* ie6-9 */

      position: absolute;
      left: 50%;
      margin-left: -90px;
      top: -26px;
   }
   .connect:hover {
      background: #0db9af;
      box-shadow: none;
   }
   .container {
      margin: 10px auto;
      padding: 0 30px;
      img {
         display: inline-block;
         float: left;
         height: 90px;
      }
      .right-box {
         display: inline-block;
         float: right;
         font-size: 15px;
         color: #898989;
         -moz-border-image: url('../img/border.png') 0 0 0 50 repeat;
         border-image: url('../img/border.png') 0 0 0 50 repeat;

         padding-left: 10px;
         p {
            margin-bottom: 10px;
         }
         p:last-child {
            margin-bottom: 0;
         }
      }
   }
}
@media screen and (max-width: 767px) { 
   .footer-1 {
      .container {
         img {
            float: none;
            margin: 30px auto 20px;
            display: block;
         }
         .right-box {
            border: none;
            float: none;
            margin: 0 auto 10px;
            display: block;
            width: 200px;
         }
      }
   } 
}
.footer-2 {
   padding: 15px 0;
   background: #cfcfcf;
   .container {
      padding: 0 15px;
   }
   p {
      margin: 0;
   }
   .copy {
      line-height: 28px;
      font-size: 15px;
      color: #959595;
      float: left;
   }
   .social-buttons {
      float: right;
      .social {
         width: 30px;
         height: 28px;
         display: inline-block;
         margin: 0 4px;
         transition: all .4s;
      }
      .social:hover {
         opacity: .7;
      }
      .facebook {
         background: url(../img/facebook.png) no-repeat;
      }
      .twitter {
         background: url(../img/twitter.png) no-repeat;
      }
      .youtube {
         background: url(../img/youtube.png) no-repeat;
      }
      .linkedin {
         background: url(../img/linkedin.png) no-repeat;
      }
      .rss {
         background: url(../img/rss.png) no-repeat;
      }
   }
}
@media screen and (max-width: 767px) { 
   .footer-2 {
      .copy {
         float: none;
         text-align: center;
         margin-bottom: 15px;
      }
      .social-buttons {
         float: none;
         text-align: center;
      }
   }
}         