[gp]{
    position: relative;
	font-family: arial, sans-serif;
}
[gp] [gp="PopUp"] input{
    padding: 5px;
    border: 1px solid #999;
    margin: 5px -1px;
}
[gp="PopUp"]{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
[gp="PPBg"]{
	cursor:pointer;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	/* background: rgba(235, 235, 235, 0.6); */
}
[gp="PPBg"]:hover{
    background: rgba(255, 255, 255, 0.3);
}
[gp="Window"]{
    position: relative;
    margin: 0 auto;
    display: table;
    width: 500px;
    border: 1px solid #333;
    padding: 20px 20px 55px;
    background: #fff;
    line-height: initial;
}
[gp="Window"] .CodeMirror-scroll {
	max-height: 800px;
	min-height: 100px;
	display: block;
	max-width: 940px;
	width:100%;
}
[gp="PopTitle"]{
    margin-top: 0;
    font-size: 1.3em;
}
[gp="Window"] .gpAdd{
    margin-top: 20px;
}
#DefaultBlock, #DefaultElement{
	text-align: center;
	color: #555;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 12px;
	background: #ffb;
	padding: 3px;
	/* outline: 2px dotted #999; */
	content: '+';
}
#DefaultBlock:hover,
#DefaultElement:hover{
    background: #ff9;
    outline-color: #3B0;
}
[gp="Element"]{
	cursor:pointer;
	z-index: 9!important;
}
[gp="Element"]:hover{
	outline: 2px solid #3B0;
	z-index: 2!important;
}
[gp="Element"].gpHover{
	z-index: 10!important;
}
#DefaultBlock [href="#delete"][gp="blAct"],
#DefaultBlock [href="#edit"][gp="blAct"],
#DefaultBlock [href="#copy"][gp="blAct"]{
	display:none;
}
[href="#move"][gp="blAct"]{
	text-indent: -9999px;
	display: inline-block;
	background: url(./images/move_alt1.png) no-repeat center!important;
	width: 10px;
}
[href="#edit"][gp="blAct"]{
	text-indent: -9999px;
	display: inline-block;
	background: url(./images/edit-16.png) no-repeat center!important;
	width: 10px;
}
[href="#add"][gp="blAct"],
[href="#add"][gp="elAct"]{
	text-indent: -9999px;
	display: inline-block;
	background: url(./images/icon-plus-round-16.png) no-repeat center!important;
	width: 10px;
}
[href="#copy"][gp="blAct"],
[href="#copy"][gp="elAct"]{
	text-indent: -9999px;
	display: inline-block;
	background: url(./images/Copy.png) no-repeat center!important;
	width: 10px;
}
[href="#hide"][gp="blAct"],
[href="#hide"][gp="elAct"]{
	text-indent: -9999px;
	display: inline-block;
	background: url(./images/expand_right.png) no-repeat center!important;
	width: 10px;
}
[href="#show"][gp="blAct"],
[href="#show"][gp="elAct"]{
	text-indent: -9999px;
	display: inline-block;
	background: url(./images/expand_left.png) no-repeat center!important;
	width: 10px;
}
[gp="Window"] .gpBox{
    border: 1px dotted;
    padding: 10px 10px 20px;
    margin-top: 20px;
    position: relative;
}
[gp="Window"] .gpBox:first-child{
    margin-top: 0;
}
[gp="Window"] .gpCol{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}
[gp="Window"] .gpCol.gpCol-2{
    width: 45%;
    margin-right: 4%;
    margin-bottom: 4%;
}
[gp="Window"] .gpXXX{
    position: absolute;
    top: 0;
    right: 0;
}
[gp="SubTitle"]{
    font-size: 14px;
    margin: 0 0 10px;
    color: #17b;
}
[gp="Window"] .gpSave,[gp="Window"] .gpButton{
	position: absolute;
	right: 0;
	bottom: -40px;
	border: 2px outset buttonface;
	background-color: buttonface;
	box-sizing: border-box;
	padding: 1px 6px;
	align-items: flex-start;  text-align: center;  cursor: default;  color: buttontext;
	zoom: 1;
	letter-spacing: normal;  word-spacing: normal;  text-transform: none;  text-indent: 0px;  
	text-shadow: none;
	-webkit-appearance: button;
	-webkit-writing-mode: horizontal-tb;
	margin: 0em;
}
[gp="Window"] .gpBlockTitle{
	width: 200px;
}
[gp="Block"]{
    position: relative;
	z-index: 9;
}
[gp="Block"].gpHover{
    outline: 6px solid #6AC;
    z-index: 10!important;
}
[gp="BlHidden"]:hover{
    outline: 6px solid #CA6;
    z-index: 10;
}
[gp="Block"] [gp="BlCol"]{
    /* display: inline-block; */
    /* vertical-align: top; */
}
[gp="Block"] [gp="BlCol"]:hover{
	outline: 3px solid #FFA300; 
	z-index: 10!important;
}
.ui-sortable-placeholder {
	outline: 1px solid #d1d1d1; 
	visibility: visible !important;
	
	background:#FFA300;
}
.ui-sortable-placeholder * { visibility: hidden; }
[gp="Block"] [gp="BlNav"],
[gp="BlHidden"] [gp="BlNav"]{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #6AC;
    padding: 6px 5px 3px;
    border-radius: 4px 0 0;
    z-index: 99;
    line-height: initial;
}
[gp="BlHidden"] [gp="BlNav"]{
    bottom: 0;
	
    border-radius: 0;
    background: #ca6;
}
[href="#delete"][gp="blAct"],
[href="#delete"][gp="elAct"]{
    background: url(./images/90-16.png) no-repeat center!important;
    text-indent: -9999px;  display: inline-block;
    width: 10px;
}
[gp="elAct"]:hover,
[gp="blAct"]:hover{
    opacity: 1;
}

[gp="ElNav"]{
	line-height: initial;
    position: absolute;
    left: 0;
    bottom: -25px;
    background: #fff;
    padding: 6px 5px 3px;
    border-radius: 0 0 4px 4px;
    z-index: 0;
    
    border: 1px solid #3B0;
}
[gp="elAct"]{
	text-decoration: none!important;
	font-size: 14px;
    font-weight: bold;
    
	color: #000000;
	padding: 0 3px!important;
	margin: 0 3px!important;
	box-shadow: inherit!important;
	opacity: 0.6;
}
[gp="blAct"]{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 0 3px;
    margin: 0 3px;
    opacity: 0.55;
}
[gp="BlHidden"]{
	overflow:hidden!important;
	margin: 0;
	padding: 20px 0 0!important;
}
[gp="hidden"]{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99;
	background: #CA6 url(./images/construction-barrier.png) no-repeat center;
}
[gp="BlHidden"]{
	z-index: 11!important;
}
[gp="BlHidden"].gpHover{
	z-index: 12!important;
}
[gp="Window"] .xxx{
    position: absolute;
    top: -14px;
    right: -14px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 100%;
    display: block;
    padding: 4px 9px 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    width: 8px;
    height: 17px;
    opacity: 1;
    left: initial;
}
[gp="Window"] .xxx:hover{
    background: #CC0029;
    color: #fff;
}
[gp="ToolsBar"]{
	position: fixed;
    
	top: 45%;
    
	left: 0px;
    
	z-index: 20;
	background: rgba(255, 255, 255, 0.9);
	display: table;
	padding: 0 10px;
	border-radius: 0 10px 0 0;
	border: 1px solid #888;
	margin: 0;
}
[gp="ToolsBar"] li{
    width: 100%;
    list-style: none;
    display: table;
    padding: 10px 0;
    text-align: center;
    height: 100%;
}
[gp="SaveAllHTML"]{
    cursor: pointer;
    padding: 5px 10px;
    background: #d67;
    color: #fff;
    display: inline-block;
}
[gp="SaveAllHTML"]:hover{
    background: #C02;
}
[gp="SCRsteps"]{
}
[gp="SCRsteps"] [gp="BackToStart"],
[gp="SCRsteps"] [gp="BackMove"],
[gp="SCRsteps"] [gp="ForwMove"]{
    padding: 11px 20px;
    display: inline-block;
    opacity: 0.5;
}
[gp="SCRsteps"] [gp="BackToStart"]{
	background: url(./images/519569-065_Forward-20.png) no-repeat center;
}
[gp="SCRsteps"] [gp="BackMove"]{
	background: url(./images/arrow_sans_left-16.png) no-repeat center;
}
[gp="SCRsteps"] a:hover{
    background-color: rgba(112, 109, 109, 0.17);
}
[gp="SCRsteps"] [gp="ForwMove"]{
    background: url(./images/arrow_sans_right-16.png) no-repeat center;      
    border-left: 1px dotted #333;
}
[gp="SCRsteps"] .ScrSt_active{
    opacity: 1;
}
[gp="GP_temp"]{
	display:none;
}