input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
a,
a:hover,
a:focus {
	color: #926134;
}
a:focus {
  outline: none;
  border: none;
}
body {
	background: url(../img/bg.jpg);
	background-attachment: fixed;
	font: 14px/1.5 Tahoma, Arial, sans-serif;
	color: #000;
}
.grey {
	color: #888;
}
.red {
	color: #ff0000;
}
.blue {
	color: #49D;
}	

/* login */
.loginform {
	padding: 200px 15px 5px;
	.zamok {
		width: 131px;
		height: 189px;
		background: url(../img/zamok.png) no-repeat;
		display: inline-block;
	}
	.login {
		text-align: left;
		.row {
			margin: 10px -15px;
		}
		form {
			background: url(../img/autbg.png);
			color: #ccc;
			height: 189px;
			width: 300px;
			text-align: center;
			padding: 15px 20px 10px;
			border-radius: 10px;
			box-shadow: 0px 0px 5px 2px rgba(0,0,0,.5);
			font-size: 13px;
			display: inline-block;
			p {
				font-size: 19px;
				line-height: 30px;
			}
			label {
				text-align: center;
				color: #808080;
				display: inline-block;
				font-size: 14px;
				i {
					margin-right: 20px;
				}
			}
			input {
				color: #000;
				display: inline-block;
				width: 200px;
				background: rgba(0,0,0,.5);
				border: 1px solid #222222;
				color: #A9A9A9;
				padding: 5px 10px;
				outline: none;
				border-radius: 4px;
			}
			input:focus {
				background: rgba(0,0,0,1);
			}
			input[type="submit"] {
				width: auto;
				margin: 5px 0;
				padding: 5px 25px;
			}
			input[type="submit"]:hover {
				background: rgba(0,0,0,1);
			}
		}
	}
	.lock {
		text-align: right;
	}
	.iforget {
		width: 300px;
		text-align: center;
		margin-top: 5px;
		a {
			color: #000;
			font-size: 14px;
		}
	}
}

/* copy */
.copy {
	text-align: center;
	margin-top: 20px;
	font-size: 12px;
}

/* header */
header.container-fluid {
	padding: 0;
	.navbar-default {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		with: 100%;
		border-radius: 0;
		border: none;
		background: rgba(0,0,0,.5);
		box-shadow: 0px 0px 8px rgba(0,0,0,.5);
		min-height: 50px;
		z-index: 20;
		.navbar-header {
			background: #000;
			.navbar-brand {
				color: #fff;
				font-size: 13px;
				background: url(../img/icon_logo.png) no-repeat;
				background-position: left 15px top 18px;
				width: 182px;
				min-height: 50px;
				padding: 15px 15px 15px 40px;
			}
		}
		ul.navbar-nav {
			font-size: 13px;
			margin-left: 20px;
			li.dropdown {
				a {
					color: #fff;
					padding: 15px 15px;
					line-height: 20px;
					text-indent: 23px;
				}
				a:hover {
					background: rgba(0,0,0,.75);
				}
				a:focus,
				a:active {
					background: #000;
				}
				ul.dropdown-menu {
					background: transparent;
					margin: 0;
					padding: 0;
					border: none;
					font-size: 13px;
					li {
						border-bottom: 1px solid #666;
						a {
							position: relative;
							background: rgba(0,0,0,.75);
							padding: 10px 15px;
						}
						a:hover {
							background: #666;
						}
					}
				}
			}
		}
		.navbar-right {
			margin-right: 15px;
			li {
				a {
					padding: 25px 30px;
				}
				a.profile {
					background: url(../img/profile.png) no-repeat;
					background-position: center center;
				}
				a.logout {
					background: url(../img/logout.png) no-repeat;
					background-position: center center;
				}
			}
			li:hover {
				background: rgba(0,0,0, 0.75);
			}
		}
		i.icon {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 20px;
			height: 20px;
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		i.icon-system {
			background: url(../img/icon_system.png);
			top: 15px;
		}
		i.icon-mod {
			background: url(../img/icon_mod.png);
		}
		i.icon-bank {
			background: url(../img/icon_store.png);
		}
		i.icon-update {
			background: url(../img/icon_update.png);
		}
		i.icon-sup {
			background: url(../img/icon_sup.png);
		}
		i.icon-lic {
			background: url(../img/icon_lic.png);
		}
	}
	.navbar-default .navbar-nav > .open > a {
		background: #000;
	}
}

/* sidebar */
section.sidebar {
	position: fixed;
	left: 0;
	top: 50px;
	height: 100%;
	width: 182px;
	background: rgba(0,0,0, 0.6);
	font-size: 13px;
	box-shadow: 0px 0px 5px rgba(0,0,0,1);
	z-index: 50;
	.accordion {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			border-bottom: 1px solid rgba(102,102,102,.75);
			.link,
			.link-static {
				cursor: pointer;
				display: block;
				color: #fff;
				padding: 10px 15px;
				position: relative;
				i {
					position: absolute;
					right: 15px;
					top: 0;
					line-height: 40px;
					font-size: 18px;
					-webkit-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
					color: #fff;
				}
			}
			.submenu {
				display: none;
				background: rgba(255,255,255,.15);
				padding: 5px 0;
				box-shadow: inset 0px 0px 5px rgba(0,0,0,.75);
				li {
					border-bottom: none;
					position: relative;
					a {
						display: block;
						padding: 7px 15px;
						color: #fff;
						text-decoration: none;
					}
					a.plus {
						padding: 0;
					}
					span {
						color: #9f9f9f;
					}
					.small-padding {
						padding-right: 5px;
					}
				}
				li:hover {
					background: rgba(0,0,0,.25);
				}
			}
			.link:hover,
			.link-static:hover {
				background: rgba(0,0,0,.25);
				i {
					-webkit-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					transform: rotate(90deg);
				}
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
		}
		li.active {
			background: rgba(0,0,0,.5);
		}
		li.open {
			border-bottom: 1px solid transparent;
			.link,
			.link-static {
				i {
					-webkit-transform: rotate(270deg);
					-ms-transform: rotate(270deg);
					-o-transform: rotate(270deg);
					transform: rotate(270deg);
				}
			}
			.link:hover,
			.link-static:hover {
				i {
					-webkit-transform: rotate(270deg);
					-ms-transform: rotate(270deg);
					-o-transform: rotate(270deg);
					transform: rotate(270deg);
				}
			}
		}
		a.plus {
			width: 18px;
			height: 18px;
			background: url(../img/icon-plus.png) no-repeat;
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -9px;
			right: 10px;
			-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		a.plus:hover {
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}
.sidebar-button {
	background: #000;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: none;
	position: fixed;
	top: 15px;
	left: 150px;
	z-index: 50;
	a {
		color: #fff;
		i {
			-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
	}
}

/* content */
section.content {
	background: url(../img/content-bg.png);
	margin-left: 200px;
	margin-right: 15px;
	width: auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,1);
	padding: 20px 15px;
	min-height: 500px;
	margin-top: 65px;
	h1 {
		font-size: 24px;
		font-weight: 700;
		margin: 0;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dotted #333;
		font-family: 'Roboto', sans-serif;
	}
	form {
		margin: 10px 0;
		input,
		textarea,
		select {
			width: 100%;
			max-width: 400px;
			display: block;
			margin-bottom: 20px;
			border: 1px solid #999;
			padding: 5px;
			box-shadow: inset 0px 1px 1px rgba(0,0,0,.2);
			color: #4d4d4d;
		}
		textarea {
			width: 400px;
			max-width: 100%;
			min-height: 100px;
		}
		input[type='submit'] {
			width: auto;
		}
		input[type='checkbox'],
		input[type='radio'] {
			display: inline-block;
			width: auto;
			margin-right: 5px;
			box-shadow: none;
		}
		input[type="file"] {
			width: auto;
			display: inline-block;
			border: none;
			box-shadow: none;
			margin-bottom: 10px;
			padding: 0;
		}
		input[type="date"],
		input[type="time"] {
			width: auto;
			height: auto;
			box-shadow: none;
			display: inline-block;
			padding: 0 5px;
			margin-bottom: 10px;
			line-height: 14px;
		}
		label {
			font-weight: normal;
		}
	}
	.table {
		border-spacing: 2px 2px;
		border-collapse: separate;
		tr, td {
			border: none;
			min-height: 0;
			padding: 10px;
		}
		th {
			border-bottom: none;
			vertical-align: middle;
		}
		tr:hover > td {
			background-color: #fff;
		}
		td {
			margin: 10px;
			vertical-align: top;
		}
		td.td-link {
			cursor: pointer;
		}
		.table-5 {
			width: 5%;
		}
		.table-10 {
			width: 10%;
		}
		.table-15 {
			width: 15%;
		}
		.table-20 {
			width: 20%
		}
		.table-25 {
			width: 25%;
		}
		.table-30 {
			width: 30%;
		}
		.table-35 {
			width: 35%;
		}
		.table-40 {
			width: 40%;
		}
		.table-45 {
			width: 45%;
		}
		.table-50 {
			width: 50%;
		}
		.table-55 {
			width: 55%;
		}
		.table-60 {
			width: 60%;
		}
		.table-65 {
			width: 65%;
		}
		.table-70 {
			width: 70%;
		}
		.table-75 {
			width: 75%;
		}
		.table-80 {
			width: 80%;
		}
		.table-85 {
			width: 85%;
		}
		.table-90 {
			width: 90%;
		}
		.table-95 {
			width: 95%;
		}
		.table-100 {
			width: 100%;
		}
		input[type='checkbox'] {
			margin-bottom: 0;
		}
	}
	.table.multiblock {
		a {
			text-decoration: none;
		}
		tr:hover > td {
			background-color: rgba(255, 255, 255, 0.5);
		}
		textarea {
			width: 100%;
		}
	}
	.button {
		display: inline-block;
		padding: 3px 10px;
		background: #5A5A5A;
		border: none;
		color: #fff;
		font-size: 12px;
		border-radius: 2px;
		margin: 10px 0;
		margin-right: 5px;
		width: auto;
	}
	.button:hover {
		background: #000;
	}
	.button-red {
		background: #C40F16;
	}
	.button-red:hover {
		background: #DF4648;
	}
	.line {
		height: 1px;
		background: #9A9A9A;
		margin: 20px 0;
	}
	.modal {
		.modal-content {
			background: url(../img/content-bg.png) repeat;
		}
	}
	.pagination-holder {
		text-align: center;
		.pagination {
			li {
				a {
					color: #926134;
					background: transparent;
					border: none;
					border-radius: 0;
				}
				a:hover {
					background: #ccc;
				}
			}
			li.active {
				a,
				a:hover {
					background: #666;
					color: #fff;
					cursor: pointer;
				}
			}
		}
	}
	.add-new {
		width: 100%;
		padding: 0;
		.item {
			text-align: center;
			padding: 10px 20px;
			display: inline-block;
			border: 1px solid #333;
			border-radius: 10px;
			margin-top: 10px;
			margin-right: 20px;
			a {
				text-decoration: none;
				color: #926134;
			}
			img {
				display: block;
				margin: 10px auto;
				width: auto;
			}
		}
		.item:hover {
			background: #E7E7E7;
		}
	}
	.vidjet-list {
		.item {
			display: inline-block;
			padding: 5px 15px;
			margin: 10px 5px;
			min-width: 24%;
		}
		.item:hover {
			background: #fff;
		}
	}
	.templates-holder {
		.item {
			display: inline-block;
			position: relative;
			margin-right: 20px;
			margin-bottom: 20px;
			a {
				width: 162px;
				display: inline-block;
				border: 1px solid #333;
				border-radius: 10px;
				overflow: hidden;
				text-align: center;
				text-decoration: none;
				img {
					width: 100%;
					display: block;
					margin-bottom: 5px;
					border-radius: 10px;
					opacity: .7;
				}
				p {
					color: #333;
					font-weight: bold;
				}
			}
			.controll {
				position: absolute;
				bottom: -24px;
				left: 50%;
				margin-left: -65px;
				display: none;
				a {
					border-radius: 2px;
					width: auto;
					padding: 1px 8px 2px;
					border: none;
				}
			}
		}
		.item:hover {
			a {
				img {
					opacity: 1;
				}
			}
			.controll {
				display: block;
			}
		}
	}
	.tab-box {
		.nav.nav-tabs {
			border: none;
			li {
				a {
					padding: 0;
					background: transparent;
					border: none;
					border-radius: 0;
					padding: 4px 12px;
					color: #fff;
					background: #898989;
					border-bottom: 1px solid #999;
				}
				a:hover {
					background: #CCA146;
				}
			}
			li.active {
				a {
					background: #C9B071;
				}
			}
		}
		.tab-content {
			border: 1px solid #999;
			padding: 15px;
		}
	}
	a.zakladka {
		color: #505050;
		border: 1px solid #C4C4C4;
		text-decoration: none;
		display: inline-block;
		margin: 10px 0;
		margin-right: 10px;
		padding: 5px 10px;
		line-height: 14px;
	}
	a.zakladka:hover {
		background: #CCA146;
		color: #fff;
	}
	.add-new-radio {
		display: inline-block;
		margin-right: 5px;
		text-align: center;
		border: 1px solid #333;
		border-radius: 10px;
		overflow: hidden;
		margin: 10px 0;
		margin-right: 20px;
		width: 162px;
		cursor: pointer;
		img {
			display: block;
			border-radius: 10px;
			opacity: .7;
			width: 162px;
		}
		p {
			margin: 0;
			margin: 5px 0;
			color: #333;
			font-weight: bold;
		}
		input {
			margin: 0;
		}
	}
	.add-new-radio:hover {
		img {
			opacity: 1;
		}
	}
}

/* media */
@media screen and (max-width: 767px) {
	.loginform {
		.zamok {
			display: none;
		}
		.login {
			text-align: center;
		}
		.iforget {
			margin: 0 auto;
		}
	}
	section.sidebar {
		left: -100%;
		background: rgba(0, 0, 0, 1);
		top: 50px;
		.accordion {
			li:first-child {
				.link:first-child {
					border-top: 1px solid rgba(102,102,102,.75);
				}
			}
			li {
				.link:hover,
				.link-static:hover {
					background: rgba(255,255,255,.05);
				}
			}
		}
	}
	.sidebar-button {
		display: block;
	}
	section.content {
		margin-left: 15px;
	}
	header.container-fluid {
		.navbar-default {
			ul.navbar-nav {
				margin-left: 0px;
				width: auto;
				padding: 0;
				margin: 0;
				background: #000;
				li.dropdown {
					ul.dropdown-menu {
						li {
							a:hover {
								color: #fff;
							}
						}
					}
				}
				li.dropdown a:hover,
				li.dropdown a:focus {
					background: rgba(255,255,255,.25);
				}
			}
			.navbar-collapse {
				padding: 0;
				margin: 0;
				width: auto;
			}
			.navbar-right {
				li {
					a.profile,
					a.logout {
						background-position: left 10px center;
						width: 100%;
						padding: 25px 0;
						padding-left: 5px;
					}
				}
				li:hover {
					background: rgba(255,255,255,.25);
				}
			}
		}
	}
}
/* table fix */
@media screen and (max-width: 960px) {
	.large-table-holder {
		margin-bottom: 20px;
		overflow-x: scroll;
		table.table {
			min-width: 960px;
		}
	}
}
@media screen and (max-width: 650px) {
	.table-holder {
		margin-bottom: 20px;
		overflow-x: scroll;
		table.table {
			min-width: 650px;
		}
	}
} 