input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
a,
a:hover,
a:focus {
  color: #926134;
}
a:focus {
  outline: none;
  border: none;
}
body {
  background: url(../img/bg.jpg);
  background-attachment: fixed;
  font: 14px/1.5 Tahoma, Arial, sans-serif;
  color: #000;
}
.grey {
  color: #888;
}
.red {
  color: #ff0000;
}
.blue {
  color: #49D;
}
/* login */
.loginform {
  padding: 200px 15px 5px;
}
.loginform .zamok {
  width: 131px;
  height: 189px;
  background: url(../img/zamok.png) no-repeat;
  display: inline-block;
}
.loginform .login {
  text-align: left;
}
.loginform .login .row {
  margin: 10px -15px;
}
.loginform .login form {
  background: url(../img/autbg.png);
  color: #ccc;
  height: 189px;
  width: 300px;
  text-align: center;
  padding: 15px 20px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  display: inline-block;
}
.loginform .login form p {
  font-size: 19px;
  line-height: 30px;
}
.loginform .login form label {
  text-align: center;
  color: #808080;
  display: inline-block;
  font-size: 14px;
}
.loginform .login form label i {
  margin-right: 20px;
}
.loginform .login form input {
  color: #000;
  display: inline-block;
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #222222;
  color: #A9A9A9;
  padding: 5px 10px;
  outline: none;
  border-radius: 4px;
}
.loginform .login form input:focus {
  background: #000000;
}
.loginform .login form input[type="submit"] {
  width: auto;
  margin: 5px 0;
  padding: 5px 25px;
}
.loginform .login form input[type="submit"]:hover {
  background: #000000;
}
.loginform .lock {
  text-align: right;
}
.loginform .iforget {
  width: 300px;
  text-align: center;
  margin-top: 5px;
}
.loginform .iforget a {
  color: #000;
  font-size: 14px;
}
/* copy */
.copy {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
/* header */
header.container-fluid {
  padding: 0;
}
header.container-fluid .navbar-default {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  with: 100%;
  border-radius: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  min-height: 50px;
  z-index: 20;
}
header.container-fluid .navbar-default .navbar-header {
  background: #000;
}
header.container-fluid .navbar-default .navbar-header .navbar-brand {
  color: #fff;
  font-size: 13px;
  background: url(../img/icon_logo.png) no-repeat;
  background-position: left 15px top 18px;
  width: 182px;
  min-height: 50px;
  padding: 15px 15px 15px 40px;
}
header.container-fluid .navbar-default ul.navbar-nav {
  font-size: 13px;
  margin-left: 20px;
}
header.container-fluid .navbar-default ul.navbar-nav li.dropdown a {
  color: #fff;
  padding: 15px 15px;
  line-height: 20px;
  text-indent: 23px;
}
header.container-fluid .navbar-default ul.navbar-nav li.dropdown a:hover {
  background: rgba(0, 0, 0, 0.75);
}
header.container-fluid .navbar-default ul.navbar-nav li.dropdown a:focus,
header.container-fluid .navbar-default ul.navbar-nav li.dropdown a:active {
  background: #000;
}
header.container-fluid .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 13px;
}
header.container-fluid .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li {
  border-bottom: 1px solid #666;
}
header.container-fluid .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li a {
  position: relative;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px 15px;
}
header.container-fluid .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li a:hover {
  background: #666;
}
header.container-fluid .navbar-default .navbar-right {
  margin-right: 15px;
}
header.container-fluid .navbar-default .navbar-right li a {
  padding: 25px 30px;
}
header.container-fluid .navbar-default .navbar-right li a.profile {
  background: url(../img/profile.png) no-repeat;
  background-position: center center;
}
header.container-fluid .navbar-default .navbar-right li a.logout {
  background: url(../img/logout.png) no-repeat;
  background-position: center center;
}
header.container-fluid .navbar-default .navbar-right li:hover {
  background: rgba(0, 0, 0, 0.75);
}
header.container-fluid .navbar-default i.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
header.container-fluid .navbar-default i.icon-system {
  background: url(../img/icon_system.png);
  top: 15px;
}
header.container-fluid .navbar-default i.icon-mod {
  background: url(../img/icon_mod.png);
}
header.container-fluid .navbar-default i.icon-bank {
  background: url(../img/icon_store.png);
}
header.container-fluid .navbar-default i.icon-update {
  background: url(../img/icon_update.png);
}
header.container-fluid .navbar-default i.icon-sup {
  background: url(../img/icon_sup.png);
}
header.container-fluid .navbar-default i.icon-lic {
  background: url(../img/icon_lic.png);
}
header.container-fluid .navbar-default .navbar-nav > .open > a {
  background: #000;
}
/* sidebar */
section.sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%;
  width: 182px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  box-shadow: 0px 0px 5px #000000;
  z-index: 50;
}
section.sidebar .accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}
section.sidebar .accordion li {
  border-bottom: 1px solid rgba(102, 102, 102, 0.75);
}
section.sidebar .accordion li .link,
section.sidebar .accordion li .link-static {
  cursor: pointer;
  display: block;
  color: #fff;
  padding: 10px 15px;
  position: relative;
}
section.sidebar .accordion li .link-static a {
  cursor: pointer;
  display: block;
  color: #fff;
}

section.sidebar .accordion li .link i,
section.sidebar .accordion li .link-static i {
  position: absolute;
  right: 15px;
  top: 0;
  line-height: 40px;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
}
section.sidebar .accordion li .submenu {
  display: none;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 0;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.75);
}
section.sidebar .accordion li .submenu li {
  border-bottom: none;
  position: relative;
}
section.sidebar .accordion li .submenu li a {
  display: block;
  padding: 7px 15px;
  color: #fff;
  text-decoration: none;
}
section.sidebar .accordion li .submenu li a.plus {
  padding: 0;
}
section.sidebar .accordion li .submenu li span {
  color: #9f9f9f;
}
section.sidebar .accordion li .submenu li .small-padding {
  padding-right: 5px;
}
section.sidebar .accordion li .submenu li:hover {
  background: rgba(0, 0, 0, 0.25);
}
section.sidebar .accordion li .link:hover,
section.sidebar .accordion li .link-static:hover {
  background: rgba(0, 0, 0, 0.25);
}
section.sidebar .accordion li .link:hover i,
section.sidebar .accordion li .link-static:hover i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
section.sidebar .accordion li ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section.sidebar .accordion li.active {
  background: rgba(0, 0, 0, 0.5);
}
section.sidebar .accordion li.open {
  border-bottom: 1px solid transparent;
}
section.sidebar .accordion li.open .link i,
section.sidebar .accordion li.open .link-static i {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
section.sidebar .accordion li.open .link:hover i,
section.sidebar .accordion li.open .link-static:hover i {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
section.sidebar .accordion a.plus {
  width: 18px;
  height: 18px;
  background: url(../img/icon-plus.png) no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
section.sidebar .accordion a.plus:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-button {
  background: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 15px;
  left: 150px;
  z-index: 50;
}
.sidebar-button a {
  color: #fff;
}
.sidebar-button a i {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* content */
section.content {
  background: url(../img/content-bg.png);
  margin-left: 200px;
  margin-right: 15px;
  width: auto;
  box-shadow: 0px 0px 5px #000000;
  padding: 20px 15px;
  min-height: 500px;
  margin-top: 65px;
}
section.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #333;
  font-family: 'Roboto', sans-serif;
}
section.content form {
  margin: 10px 0;
}
section.content form input,
section.content form textarea,
section.content form select {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #999;
  padding: 5px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  color: #4d4d4d;
}
section.content form input.datetime {
  width: 100px;
  display: inline-block;
}
section.content form textarea {
  width: 400px;
  max-width: 100%;
  min-height: 100px;
}
section.content form input[type='submit'] {
  width: auto;
}
section.content form input[type='checkbox'],
section.content form input[type='radio'] {
  display: inline-block;
  width: auto;
  margin-right: 5px;
  box-shadow: none;
}
section.content form input[type="file"] {
  width: auto;
  display: inline-block;
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
  padding: 0;
}
section.content form input[type="date"],
section.content form input[type="time"] {
  width: auto;
  height: auto;
  box-shadow: none;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 10px;
  line-height: 14px;
}
section.content form label {
  font-weight: normal;
}
section.content .table {
  border-spacing: 2px 2px;
  border-collapse: separate;
}
section.content .table tr,
section.content .table td {
  border: none;
  min-height: 0;
  padding: 10px;
}
section.content .table th {
  border-bottom: none;
  vertical-align: middle;
}
section.content .table tr:hover > td {
  background-color: #fff;
}
section.content .table td {
  margin: 10px;
  vertical-align: top;
}
section.content .table td.td-link {
  cursor: pointer;
}
section.content .table td.td-link > a {
  /* color: black; */
}
section.content .table td.td-link > a:hover {
  /* text-decoration: none; */
}
section.content .table .table-5 {
  width: 5%;
}
section.content .table .table-10 {
  width: 10%;
}
section.content .table .table-15 {
  width: 15%;
}
section.content .table .table-20 {
  width: 20%;
}
section.content .table .table-25 {
  width: 25%;
}
section.content .table .table-30 {
  width: 30%;
}
section.content .table .table-35 {
  width: 35%;
}
section.content .table .table-40 {
  width: 40%;
}
section.content .table .table-45 {
  width: 45%;
}
section.content .table .table-50 {
  width: 50%;
}
section.content .table .table-55 {
  width: 55%;
}
section.content .table .table-60 {
  width: 60%;
}
section.content .table .table-65 {
  width: 65%;
}
section.content .table .table-70 {
  width: 70%;
}
section.content .table .table-75 {
  width: 75%;
}
section.content .table .table-80 {
  width: 80%;
}
section.content .table .table-85 {
  width: 85%;
}
section.content .table .table-90 {
  width: 90%;
}
section.content .table .table-95 {
  width: 95%;
}
section.content .table .table-100 {
  width: 100%;
}
section.content .table input[type='checkbox'] {
  margin-bottom: 0;
}
section.content .table.multiblock a {
  text-decoration: none;
}
section.content .table.multiblock tr:hover > td {
  background-color: rgba(255, 255, 255, 0.5);
}
section.content .table.multiblock textarea {
  width: 100%;
}
section.content .button {
  display: inline-block;
  padding: 3px 10px;
  background: #5A5A5A;
  border: none;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  margin: 10px 0;
  margin-right: 5px;
  width: auto;
}
section.content .button:hover {
  background: #000;
}
section.content .button-red {
  background: #C40F16;
}
section.content .button-red:hover {
  background: #DF4648;
}
section.content .line {
  height: 1px;
  background: #9A9A9A;
  margin: 20px 0;
}
section.content .modal .modal-content {
  background: url(../img/content-bg.png) repeat;
}
section.content .pagination-holder {
  text-align: center;
}
section.content .pagination-holder .pagination li a {
  color: #926134;
  background: transparent;
  border: none;
  border-radius: 0;
}
section.content .pagination-holder .pagination li a:hover {
  background: #ccc;
}
section.content .pagination-holder .pagination li.active a,
section.content .pagination-holder .pagination li.active a:hover {
  background: #666;
  color: #fff;
  cursor: pointer;
}
section.content .add-new {
  width: 100%;
  padding: 0;
}
section.content .add-new .item {
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 20px;
}
section.content .add-new .item a {
  text-decoration: none;
  color: #926134;
}
section.content .add-new .item img {
  display: block;
  margin: 10px auto;
  width: auto;
}
section.content .add-new .item:hover {
  background: #E7E7E7;
}
section.content .vidjet-list .item {
  display: inline-block;
  padding: 5px 15px;
  margin: 10px 5px;
  min-width: 24%;
}
section.content .vidjet-list .item:hover {
  background: #fff;
}
section.content .templates-holder .item {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}
section.content .templates-holder .item a {
  width: 162px;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}
section.content .templates-holder .item a img {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  border-radius: 10px;
  opacity: .7;
}
section.content .templates-holder .item a p {
  color: #333;
  font-weight: bold;
}
section.content .templates-holder .item .controll {
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -65px;
  display: none;
}
section.content .templates-holder .item .controll a {
  border-radius: 2px;
  width: auto;
  padding: 1px 8px 2px;
  border: none;
}
section.content .templates-holder .item:hover a img {
  opacity: 1;
}
section.content .templates-holder .item:hover .controll {
  display: block;
}
section.content .tab-box .nav.nav-tabs {
  border: none;
}
section.content .tab-box .nav.nav-tabs li a {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 4px 12px;
  color: #fff;
  background: #898989;
  border-bottom: 1px solid #999;
}
section.content .tab-box .nav.nav-tabs li a:hover {
  background: #CCA146;
}
section.content .tab-box .nav.nav-tabs li.active a {
  background: #C9B071;
}
section.content .tab-box .tab-content {
  border: 1px solid #999;
  padding: 15px;
}
section.content a.zakladka {
  color: #505050;
  border: 1px solid #C4C4C4;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  margin-right: 10px;
  padding: 5px 10px;
  line-height: 14px;
}
section.content a.zakladka:hover {
  background: #CCA146;
  color: #fff;
}
section.content .add-new-radio {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  margin-right: 20px;
  width: 162px;
  cursor: pointer;
}
section.content .add-new-radio img {
  display: block;
  border-radius: 10px;
  opacity: .7;
  width: 162px;
}
section.content .add-new-radio p {
  margin: 0;
  margin: 5px 0;
  color: #333;
  font-weight: bold;
}
section.content .add-new-radio input {
  margin: 0;
}
section.content .add-new-radio:hover img {
  opacity: 1;
}
/* media */
@media screen and (max-width: 767px) {
  .loginform .zamok {
    display: none;
  }
  .loginform .login {
    text-align: center;
  }
  .loginform .iforget {
    margin: 0 auto;
  }
  section.sidebar {
    left: -100%;
    background: #000000;
    top: 50px;
  }
  section.sidebar .accordion li:first-child .link:first-child {
    border-top: 1px solid rgba(102, 102, 102, 0.75);
  }
  section.sidebar .accordion li .link:hover,
  section.sidebar .accordion li .link-static:hover {
    background: rgba(255, 255, 255, 0.05);
  }
  .sidebar-button {
    display: block;
  }
  section.content {
    margin-left: 15px;
  }
  header.container-fluid .navbar-default ul.navbar-nav {
    margin-left: 0px;
    width: auto;
    padding: 0;
    margin: 0;
    background: #000;
  }
  header.container-fluid .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
  }
  header.container-fluid .navbar-default ul.navbar-nav li.dropdown a:hover,
  header.container-fluid .navbar-default ul.navbar-nav li.dropdown a:focus {
    background: rgba(255, 255, 255, 0.25);
  }
  header.container-fluid .navbar-default .navbar-collapse {
    padding: 0;
    margin: 0;
    width: auto;
  }
  header.container-fluid .navbar-default .navbar-right li a.profile,
  header.container-fluid .navbar-default .navbar-right li a.logout {
    background-position: left 10px center;
    width: 100%;
    padding: 25px 0;
    padding-left: 5px;
  }
  header.container-fluid .navbar-default .navbar-right li:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}
/* table fix */
@media screen and (max-width: 960px) {
  .large-table-holder {
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  .large-table-holder table.table {
    min-width: 960px;
  }
}
@media screen and (max-width: 650px) {
  .table-holder {
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  .table-holder table.table {
    min-width: 650px;
  }
}


/*chosen fixes*/
.chosen-choices input.default {
  width: 100% !important;
}

.clear {
    clear: both;
}